// BACKGROUND COLORS
// ******* Primary Colors *******
.bg-primary { background-color: $color-primary !important; }
.bg-secondary { background-color: $color-secondary !important; }
// ******* Secondary Colors *******
.bg-green-0 { background-color: $color-green-0 !important; }
.bg-green-1 { background-color: $color-green-1 !important; }
.bg-purple-0 { background-color: $color-purple-0 !important; }
.bg-cian-0 { background-color: $color-cian-0 !important; }
.bg-peach-0 { background-color: $color-peach-0 !important; }
.bg-yellow-0 { background-color: $color-yellow-0 !important; }
.bg-yellow-1 { background-color: $color-yellow-1 !important; }
.bg-violete-0 { background-color: $color-violete-0 !important; }
.bg-pink-0 { background-color: $color-pink-0 !important; }
.bg-blue-0 { background-color: $color-blue-0 !important; }
// ******* Gray Scale Colors *******
.bg-black-0 { background-color: $color-black-0 !important; }
.bg-black-1 { background-color: $color-black-1 !important; }
.bg-black-2 { background-color: $color-black-2 !important; }
.bg-black-3 { background-color: $color-black-3 !important; }
.bg-black-4 { background-color: $color-black-4 !important; }
.bg-white-0 { background-color: $color-white-0 !important; }
.bg-white-1 { background-color: $color-white-1 !important; }
.bg-white-2 { background-color: $color-white-2 !important; }
.bg-white-3 { background-color: $color-white-3 !important; }
.bg-white-4 { background-color: $color-white-4 !important; }
.bg-white-5 { background-color: $color-white-5 !important; }
.bg-transparent { background-color: transparent !important; }
// ******* System Colors *******
.bg-success { background-color: $color-success !important; }
.bg-error { background-color: $color-error !important; }
.bg-warning { background-color: $color-warning !important; }
.bg-danger { background-color: $color-error !important; }
.bg-info { background-color: $color-info !important; }
.bg-success-50 { background-color: $color-success-50 !important; }
.bg-error-50 { background-color: $color-error-50 !important; }
.bg-warning-50 { background-color: $color-warning-50 !important; }
.bg-danger-50 { background-color: $color-error-50 !important; }
.bg-info-50 { background-color: $color-info-50 !important; }

// BORDER COLORS
// ******* Primary Colors *******
.bc-primary { border-color: $color-primary !important; }
.bc-secondary { border-color: $color-secondary !important; }
// ******* Secondary Colors *******
.bc-green-0 { border-color: $color-green-0 !important; }
.bc-green-1 { border-color: $color-green-1 !important; }
.bc-purple-0 { border-color: $color-purple-0 !important; }
.bc-cian-0 { border-color: $color-cian-0 !important; }
.bc-peach-0 { border-color: $color-peach-0 !important; }
.bc-yellow-0 { border-color: $color-yellow-0 !important; }
.bc-yellow-1 { border-color: $color-yellow-1 !important; }
.bc-violete-0 { border-color: $color-violete-0 !important; }
.bc-pink-0 { border-color: $color-pink-0 !important; }
.bc-blue-0 { border-color: $color-blue-0 !important; }
// ******* Gray Scale Colors *******
.bc-black-0 { border-color: $color-black-0 !important; }
.bc-black-1 { border-color: $color-black-1 !important; }
.bc-black-2 { border-color: $color-black-2 !important; }
.bc-black-3 { border-color: $color-black-3 !important; }
.bc-black-4 { border-color: $color-black-4 !important; }
.bc-white-0 { border-color: $color-white-0 !important; }
.bc-white-1 { border-color: $color-white-1 !important; }
.bc-white-2 { border-color: $color-white-2 !important; }
.bc-white-3 { border-color: $color-white-3 !important; }
.bc-white-4 { border-color: $color-white-4 !important; }
.bc-white-5 { border-color: $color-white-5 !important; }
// ******* System Colors *******
.bc-success { border-color: $color-success !important; }
.bc-error { border-color: $color-error !important; }
.bc-warning { border-color: $color-warning !important; }
.bc-danger { border-color: $color-error !important; }
.bc-info { border-color: $color-info !important; }

// TEXT COLORS
// ******* Primary Colors *******
.tc-primary { color: $color-primary !important; }
.tc-secondary { color: $color-secondary !important; }
// ******* Secondary Colors *******
.tc-green-0 { color: $color-green-0 !important; }
.tc-green-1 { color: $color-green-1 !important; }
.tc-purple-0 { color: $color-purple-0 !important; }
.tc-cian-0 { color: $color-cian-0 !important; }
.tc-peach-0 { color: $color-peach-0 !important; }
.tc-yellow-0 { color: $color-yellow-0 !important; }
.tc-yellow-1 { color: $color-yellow-1 !important; }
.tc-violete-0 { color: $color-violete-0 !important; }
.tc-pink-0 { color: $color-pink-0 !important; }
.tc-blue-0 { color: $color-blue-0 !important; }
// ******* Gray Scale Colors *******
.tc-black-0 { color: $color-black-0 !important; }
.tc-black-1 { color: $color-black-1 !important; }
.tc-black-2 { color: $color-black-2 !important; }
.tc-black-3 { color: $color-black-3 !important; }
.tc-black-4 { color: $color-black-4 !important; }
.tc-white-0 { color: $color-white-0 !important; }
.tc-white-1 { color: $color-white-1 !important; }
.tc-white-2 { color: $color-white-2 !important; }
.tc-white-3 { color: $color-white-3 !important; }
.tc-white-4 { color: $color-white-4 !important; }
.tc-white-5 { color: $color-white-5 !important; }
// ******* Text Colors *******
.tc-text { color: $color-text !important; }
.tc-text-light { color: $color-text-light !important; }
.tc-text-dark { color: $color-text-dark !important; }
// ******* System Colors *******
.tc-success { color: $color-success !important; }
.tc-error { color: $color-error !important; }
.tc-warning { color: $color-warning !important; }
.tc-danger { color: $color-error !important; }
.tc-info { color: $color-info !important; }

// TEXT SIZES
.ts-h6 { font-size: $h6-size; }
.ts-h5 { font-size: $h5-size; }
.ts-h4 { font-size: $h4-size; }
.ts-h3 { font-size: $h3-size; }
.ts-h2 { font-size: $h2-size; }
.ts-h1 { font-size: $h1-size; }
.ts-b1 { font-size: $b1-size; }
.ts-b2 { font-size: $b2-size; }
.ts-b3 { font-size: $b3-size; }
.ts-b4 { font-size: $b4-size; }
.ts-b5 { font-size: $b5-size; }

// TEXT WEIGHTS
.tw-black { font-weight: $font-black; }
.tw-bold { font-weight: $font-bold; }
.tw-semibold { font-weight: $font-semi-bold; }
.tw-medium { font-weight: $font-medium; }
.tw-regular { font-weight: $font-regular; }
.tw-light { font-weight: $font-light; }
.tw-thin { font-weight: $font-thin; }


// LINE HEIGHT
.lh-h1 { line-height: $line-height-h1; }
.lh-h2 { line-height: $line-height-h2; }
.lh-h3 { line-height: $line-height-h3; }
.lh-h4 { line-height: $line-height-h4; }
.lh-h5 { line-height: $line-height-h5; }
.lh-h6 { line-height: $line-height-h6; }
.lh-b1 { line-height: $line-height-b1; }
.lh-b2 { line-height: $line-height-b2; }
.lh-b3 { line-height: $line-height-b3; }
.lh-b4 { line-height: $line-height-b4; }
.lh-b5 { line-height: $line-height-b5; }

// LINE HEIGHT CUSTOM
@for $i from 0 through 100 {
  .lh-c-#{$i} { line-height: calc(#{$i} * 1px); }
}

// LETTER SPACING
.ls-0 { letter-spacing: 0; }

// FONT FAMILY
.ff-primary { font-family: $font-primary !important; }

// Z-INDEX
.z-1 { z-index: $z-index-1; }
.z-20 { z-index: $z-index-20; }
.z-30 { z-index: $z-index-30; }
.z-40 { z-index: $z-index-40; }
.z-50 { z-index: $z-index-50; }
.z-60 { z-index: $z-index-60; }
.z-70 { z-index: $z-index-70; }
.z-80 { z-index: $z-index-80; }
.z-90 { z-index: $z-index-90; }
.z-100 { z-index: $z-index-100; }

// TRANSITION
.transition-fast { transition: $transition-fast; }
.transition-normal { transition: $transition-normal; }
.transition-slow { transition: $transition-slow; }

// BOX SHADOW 
.bs-1 { box-shadow: $box-shadow-1; }
.bs-2 { box-shadow: $box-shadow-2; }
.bs-3 { box-shadow: $box-shadow-3; }
.bs-navigator-bar { box-shadow: $box-shadow-navigator-bar; }
.bs-primary { box-shadow: $box-shadow-primary; }


// DIVIDERS
.divider-top {
  border-top: 1px solid $color-white-4;
}

.divider-bottom {
  border-bottom: 1px solid $color-white-3;
}