// DISPLAY FLEX BETWEEN
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// DISPLAY FLEX CENTER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// INPUT BASE: Este mixin es para los inputs de tipo texto, email, password, etc.
@mixin input-base {
  border: none;
  border-radius: $border-radius-2;
  font-family: $font-primary;
  transition: $transition-normal;
  &:focus-within {
    border: 2px solid $color-primary;
    box-shadow: $box-shadow-2;
  }
}


// BUTTON BASE: Este mixin es para los botones de tipo submit, button, etc.
@mixin button-base {
  border-radius: $border-radius-2;
  font-size: $b3-size;
  font-family: $font-primary;
  font-weight: $font-medium;
  min-height: 48px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-normal;
  &:active {
    opacity: 0.6;
  }
}