/* ***************** COLORS ****************** */
// BRAND COLORS
$color-primary: #4200FF;
$color-secondary: #00A3FF;
$color-tertiary: #F31E45;
$color-primary-50: rgba(66, 0, 255, 0.5);
$color-primary-10: rgba(66, 0, 255, 0.1);
// COLORS
$color-green-0: #C3E9DE;
$color-green-1: #91D8D8;
$color-purple-0: #DCBEEC;
$color-cian-0: #BFDEDB;
$color-peach-0: #EEB8B8;
$color-yellow-0: #E6DADE;
$color-yellow-1: #EFD674;
$color-violete-0: #E4CDEE;
$color-pink-0: #FAC2D9;
$color-blue-0: #B3C8E9;

// SYSTEM COLORS
$color-success: #6ABE90;
$color-error: #FA738B;
$color-warning: #E0C041;
$color-info: #298BFE;
$color-success-50: rgba(106, 190, 144, 0.3);
$color-error-50: rgba(250, 115, 139, 0.3);
$color-warning-50: rgba(224, 192, 65, 0.3);
$color-info-50: rgba(41, 139, 254, 0.3);

// BLACK
$color-black-0: #000000;
$color-black-1: #111315;
$color-black-2: #1e1e1e;
$color-black-3: #2D2D2D;
$color-black-4: #737373;
// WHITE
$color-white-0: #FFFFFF;
$color-white-1: #F5F5F5;
$color-white-2: #E2E2E2;
$color-white-3: #D9D9D9;
$color-white-4: #939393;
$color-white-5: #64748B;

/* ***************** COLOR SYSTEM ****************** */
$color-background: $color-white-0;
$color-text: $color-tertiary;
$color-text-dark: $color-black-4;
$color-text-light: $color-white-4;


/* ***************** FONTS ****************** */
// TYPOGRAPHY
$font-primary: 'Geist', Helvetica, system-ui, sans-serif;
// SIZES
$h1-size: 81px;
$h2-size: 64px;
$h3-size: 56px;
$h4-size: 48px;
$h5-size: 36px;
$h6-size: 28px;
$b1-size: 24px;
$b2-size: 21px;
$b3-size: 18px;
$b4-size: 16px;
$b5-size: 14px;
// WEIGHTS
$font-black: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-thin: 200;
// LINE HEIGHT
$line-height-h1: 75px;
$line-height-h2: 59px;
$line-height-h3: 50px;
$line-height-h4: 42px;
$line-height-h5: 36px;
$line-height-h6: 30px;
$line-height-b1: 24px;
$line-height-b2: 18px;
$line-height-b3: 16px;
$line-height-b4: 14px;
$line-height-b5: 12px;


/* ***************** Z-INDEX ****************** */
$z-index-1: 1;
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;
$z-index-40: 40;
$z-index-50: 50;
$z-index-60: 60;
$z-index-70: 70;
$z-index-80: 80;
$z-index-90: 90;
$z-index-100: 100;


/* ***************** TRANSITION ****************** */
$transition-fast: 0.1s ease-in-out;
$transition-normal: 0.2s ease-in-out;
$transition-slow: 0.3s ease-in-out;


/* ***************** BOX SHADOW ****************** */
$box-shadow-1: 0px 4px 22px rgba(0, 0, 0, 0.05);
$box-shadow-2: 0px 0px 24px rgba(0, 0, 0, 0.1);
$box-shadow-3: 0px 0px 24px rgba(0, 0, 0, 0.2);
$box-shadow-navigator-bar: 0px -4px 20px 0px rgba(0, 0, 0, 0.05);
$box-shadow-primary: 0px 4px 22px rgba(163, 45, 235, 0.3);


/* ***************** BORDER RADIUS ****************** */
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 14px;
$border-radius-4: 24px;
$border-radius-5: 32px;
$border-radius-6: 40px;

$base-unit: 4px;